---
import { Picture } from "astro:assets"
import type { SanityDocument } from "@sanity/client"
//@ts-ignore
import { sanityClient } from "sanity:client"
import imageUrlBuilder from "@sanity/image-url"
import type { SanityImageSource } from "@sanity/image-url/lib/types/types"
import { PortableText } from "astro-portabletext"
import MainLayout from "../../layouts/MainLayout.astro"
import Gallery from "../../components/gallery/index.astro"
const POST_QUERY = `*[_type == "post" && slug.current == $slug][0]`
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params)

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "post" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params)
}

const { projectId, dataset } = sanityClient.config()

const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? imageUrlBuilder({ projectId, dataset }).image(source)
    : null

const postImageUrl = post.image
  ? urlFor(post.image)?.width(550).height(310).blur(5).url()
  : null
---

<MainLayout title={post.title}>
  <main
    class="container mx-auto min-h-screen max-w-3xl p-8 flex flex-col gap-4"
  >
    <a href="/projekt" class="hover:underline">&larr; Zurück zu den Beiträgen</a
    >
    {
      postImageUrl && (
        <Picture
          src={postImageUrl}
          alt={post.title}
          class="aspect-video rounded-md w-full"
          width="550"
          height="310"
          decoding="async"
          loading="lazy"
          formats={["avif", "webp"]}
        />
      )
    }
    <h1 class="text-4xl font-bold mb-8">{post.title}</h1>
    <div class="prose-lg space-y-8 text-lg">
      <p>Published: {new Date(post.publishedAt).toLocaleDateString()}</p>
      {Array.isArray(post.body) && <PortableText value={post.body} />}
    </div>
    {
      post.imageGallery ? (
        <div>
          <Gallery gallery={post.imageGallery} />
        </div>
      ) : null
    }
  </main>
</MainLayout>
